.header {
  background: #000000;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.header .search {
  flex: 1;
  max-width: 400px;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  margin-right: 20px;
}

.header .user {
  display: flex;
  align-items: right;
  gap: 6px;
}